
h1{
  font-family: Bebas Neue,sans-serif;
  line-height: 76px;
  font-size: 62px;
  letter-spacing: 3.875px;
  margin-bottom: 20px;
  color: #000;
}
p {
  margin-bottom: 28px;
  font-family: Open Sans,sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  font-size: 18px;
  color: #4a4a4a;
}
section {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
footer {
  color: #fff;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
header {
  background-color: rgba(222,99,39,255);
}
header > img {
  display: flex;
  align-items: baseline;
  margin-left: 25%;
  margin-right: 5%;
}
header > form {
  margin-right: 25%;
}
.red {
  color: red;
}

